body {
  padding: 50px 100px 50px 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gainsboro;
}

svg {
  overflow: visible;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

.back-gray {
  background-color: gainsboro;
  color: black;
}

.stripe {
  text-decoration: line-through !important;
}

/* .minus-margin {
  margin-left: -20px;
} */

.backGray {
  background-color: darkgray;
}

.blueTag {
  background-color: skyblue;
  min-width: 15px;
}

.grayTag {
  background-color: darkgray;
  min-width: 15px;
}

.redTag {
  background-color: red;
  min-width: 15px;
}

.time-out {
  opacity: 0.4;
  padding-left: 8px;
}

.justify-content-md-center {
  width: 70vw;
}

.deadline-alert {
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.return-home {
  position: fixed;
  top: 0;
  left: 20%;
  width: 15%;
  text-align: center;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
  opacity: 0.8;
  z-index: 1000;
  cursor: grab;
}

#today-tasks {
  position: fixed;
  top: 0;
  left: 35%;
  width: 15%;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  opacity: 0.8;
  z-index: 1000;
  cursor: grab;
}

.container {
  margin-top: 60px;
}

#sort-tasks {
  float: right;
  margin-left: 50px;
}

#category-filter {
  margin-left: 50px;
  float: right;
}

#search-form {
  float: right;
}

#search-icon {
  cursor: grab;
  margin-left: -20px;
}

#todo-list,
#unlimited-todo {
  margin-top: 30px;
}

#todo-list li {
  margin: 20px 0 20px 0;
  display: flex;
  text-align: left;
}

.list-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px 10px 10px;
  font-size: 1rem;
}

.todo-update,
.todo-delete,
.todo-detail {
  border-radius: 0;
  text-emphasis: right;
  font-size: 1rem;
  padding: 1px;
}

.deadline-alert {
  color: red;
  background-color: red;
}

.modal-title {
  font-weight: bold;
}

.error-message {
  margin-left: 10%;
}

.task-complete {
  color: black;
  margin-left: -35px;
  padding-right: 5px;
  font-size: 30px;
  overflow: visible;
  margin-top: 5px;
}
.task-uncomplete {
  display: none;
}
.alert-message {
  text-decoration: none !important;
}

/* status-toggle-switch */
.status-toggle {
  position: relative;
  width: 81px;
  height: 28px;
  margin: 0px 10px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}
.status-toggle input[type="checkbox"] {
  display: none;
}
.status-toggle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: #f45e55;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.status-toggle:after {
  content: "未完";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 45px;
  height: 22px;
  display: block;
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-align: center;
  padding: 6px 0 0;
  line-height: 1;
  font-size: 10px;
  font-weight: bold;
  color: black;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}
.status-toggle.checked:before {
  background: #24e89c;
}
.status-toggle.checked:after {
  content: "完了";
  left: 33px;
  box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
  color: black;
}

/* Calendar  */
#calendar {
  border: black 1px;
}

table,
td,
th {
  border: 2px black solid;
  text-align: center;
}

#calendar td {
  width: 150px;
  height: 150px;
}
#calendar td p {
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  /* position: relative;
  top: -35%; */
  vertical-align: top !important;
}

#calendar-modal .modal-content {
  position: fixed !important;
  top: 5%;
  left: 10vw;
  overflow: auto;
  width: 80vw !important;
  height: 90vh !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 20px;
}

#create-by-calendar {
  background-color: darkgrey;
}

.calendar-plus {
  cursor: cell;
  margin-top: 100px;
}

.calendar-update {
  cursor: pointer;
}

#top-hidden {
  display: block;
  height: 150px;
  width: 250px;
  padding-top: 5px;
  text-align: center;
  background-color: black;
  position: fixed;
  top: -150px;
  right: 30%;
  border-radius: 70%;
}

#dangerous-actions {
  padding: 10px;
}
#dangerous-actions button {
  margin-bottom: 10px;
}
#show-icon {
  display: block;
  position: fixed;
  top: 0;
  right: 35%;
  width: 100px;
  height: 30px;
  background-color: yellow;
  border: 1px gray solid;
  border-bottom-left-radius: 98%;
  border-bottom-right-radius: 98%;
}

.trash-icon {
  cursor: grabbing;
}
