body {
  padding: 50px 100px 50px 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gainsboro;
}

svg {
  overflow: visible;
}

a {
  color: #00b7ff;
}

li {
  list-style: none;
}

.hide {
  display: none;
}

#todo-list li {
  margin: 20px 0 20px 0;
  display: flex;
  text-align: center;
}

.list-content {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px 10px 10px;
  font-size: 1rem;
}

.todo-update,
.todo-delete {
  border-radius: 0;
  text-emphasis: right;
  font-size: 1rem;
  padding: 1px;
}

.modal-title {
  font-weight: bold;
}

.back-gray {
  background-color: gainsboro;
  color: black;
}

.error-message {
  margin-left: 10%;
}

.task-complete {
  position: relative;
  left: -25px;
  font-size: 20px;
  overflow: visible;
  margin-top: 10px;
}

.stripe {
  text-decoration: line-through;
}

.minus-margin {
  margin-left: -20px;
}

.backGray {
  background-color: darkgray;
}


.blueTag {
  background-color: skyblue;
  min-width: 15px;
}

.grayTag {
  background-color: darkgray;
  min-width: 15px;
  margin-left: -20px;
}


.redTag {
  background-color: red;
  min-width: 15px;
}